body
{
	
	margin: 0 auto;
	text-align: center;

}
header
{
	background: #A6053B;
	margin: 0 auto;
	padding: 50px;
}	

header nav	ul li
{
	display: inline-block;
	vertical-align: top;
	
}
section article
{

	display: inline-block;
	
}

section table td img
{
	padding: 10px;
}
article img
{
	margin: 0px 0px 50px 0px;
	border: 2px solid #A6053B;

}

 #info
{
	display: none;
	
}
#proyectos
{
	display: none;
}

#imagen1
{
	margin:  0 auto;
	
}

#imagen2
{
	margin:  0 auto;
	
}

#imagen3
{
	margin:  0 auto;

}


#contenedor
{
background: #B5B0B2;
}

.container {
width:auto;
margin: 0 auto;
position:relative;
}

.banner {
background-image: url(img/img1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;

}

@media screen and (min-width: 350px) and (max-width: 800px) {
	body
	{
		width: 100%;
	}
	header
	{
		font-size: 0.5em;
		width: 100%;
	}
	
	
	section article
	{
		display: block;
		display: none;
		width: 100%;
	}
	
	
}